p {
  overflow-wrap: break-word;
}

.main {
  display: flex; /* or inline-flex */
  flex-direction: column
}

.required {
  margin: 10px 20px 0px 20px;
  width: 20em;
  height: 1.5em
}

.checkbox {
  margin: 10px 20px 0px 20px
}

button {
  margin: 20px;
  width: 20em;
  height: 2em
}
